.textareaStyle {
  resize: none;
  border-radius: 5px;
  margin: 15px;
}

.constructor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.liList {
  margin-bottom: 5px;
  font-size: 17px;
}
