.classicSelect {
  color: #fff;
  background: #2a2f3b;

  &:hover {
    background: #394050;
  }
}

.classicList {
  color: white;
  background: #2a2f3b;
  border: 1px #0a0b0e solid;
}

.pathWhite {
  color: white !important;
}

.pathBlack {
  color: black;
}
