.containerCustom {
}

.caretCustom {
  border-top: 6px solid rgb(133, 133, 133);
  &_rotate {
  }
}

.selectCustom {
  background: white;
  color: rgb(78, 78, 78);
  &:hover {
    background: rgb(224, 224, 224);
  }
}

.listCustom {
  background-color: white !important;
  &__item {
    color: rgb(78, 78, 78);
    &:hover {
      background: rgb(224, 224, 224);
    }
  }
}
