.selectDark {
  background: rgb(29, 29, 29);
  color: white;
}

.caretWhite {
  border-top: 6px solid black !important;
}

.listDark {
  background: rgb(29, 29, 29);
  color: white;
}

.inputDark {
  border-bottom: 1px solid black !important;
}
