.header {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2a2f3b;
  margin-bottom: 8px;

  h1 {
    font-size: 57px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 0 12px 0;
  }

  &__logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 13%;
    height: 16%;
    border: 1px solid #525252;
    border-radius: 50%;

    margin: 22px 0 0 29px;
  }

  .navlist {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 30px 0;
    padding: 0;
    width: 230px;

    li {
      display: inline;
      list-style: none;
      text-decoration: none;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  margin-top: 15px;
  background-color: #6b6d76;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.example-select {
  width: 100%;
  margin: 25px;

  &_title {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  &_submit {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

    &:hover {
      background-color: #d7d7d7;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
    }
  }
}
