* {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #4a4a4a;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
}

// ----Layout----
.cg-dropdown {
  min-width: 235px;
  margin-left: 0;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
}

.cg-select {
  padding: 5px;
  flex-grow: 1;
  min-height: 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-overflow: ellipsis;
  background: #2a2f3b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  .selected {
    max-width: 195px;

    margin: 5px;
  }

  &:hover {
    transition: 0.5s;
    background: #394050;
  }
}

.caret {
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.5s;

  &_rotate {
    transform: rotate(180deg);
    transition: 0.5s;
  }
}

.list {
  max-height: 230px;
  overflow-y: auto;
  position: absolute;

  width: 220px;
  padding: 7px;
  margin-top: -0.2px;
  list-style: none;

  color: white;
  background: #2a2f3b;
  border: 1px #0a0b0e solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.5s;

  opacity: 0;
  display: none;
  z-index: 1;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: 0.5s;
    padding: 15px;

    &:hover {
      transition: 0.5s;
      cursor: pointer;
      background: #8282822c;
    }
  }
}

.multiselect-tag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 2px 4px 2px 4px;
    background: #76767659;
    height: 20px;
    margin: 0 5px 5px 0;

    display: flex;
    align-items: center;

    position: relative;
    border-radius: 5px;
  }
  &__button {
    width: 15px;
    height: 16px;
    border: none;
  }
}

.category {
  height: 20px;
  margin: 6px 5px 0 7px;
  font-size: 17px;
  border-bottom: 1px solid;

  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  cursor: pointer;
  margin: 0 5px 0 0;
}

// --------SVG--------
.svg-icon {
  width: 16px;
  margin-left: 3px;
  background-color: #bebebc;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    transition: 1s;
    background-color: #ffffff;
  }
}

.svg-icon path {
  color: black;
  stroke: currentcolor;
  transition: 0.2s;
  stroke-width: 0.5;
}

//-------Behavior--------
.active {
  background: #8282822c;
}

.open {
  transition: 0.5s;
  display: block;
  opacity: 1;

  &_none {
    opacity: 0 !important;
  }
}

.disabled {
  background-color: #8f9195 !important;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ------SCROLLBAR------
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d1d1d19d;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

.displayHide {
  display: none;
}

.searchSelect {
  // border: solid black 1px;
  // border-radius: 5px;
  display: flex;
  align-items: center;
  // width: 150px;
  // height: 45px;

  textarea {
    width: 0.75em;
    resize: none;
    height: 18px;
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
  }
}
