* {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1b1e25;
}

.container {
  display: flex;
  margin: 50px auto;
  width: 800px;
}

.cg-dropdown {
  position: relative;
  margin-right: 10px;
}

.cg-select {
  padding: 14px;
  min-width: 200px;
  max-width: 200px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  background: #2a2f3b;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  .selected {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    transition: 0.5s;
    background: #394050;
  }
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.5s;

  &_rotate {
    transform: rotate(180deg);
    transition: 0.5s;
  }
}

.list {
  max-height: 230px;
  overflow-y: auto;
  position: absolute;
  width: 212px;
  padding: 7px;
  margin-top: -0.2px;
  list-style: none;

  color: white;
  background: #2a2f3b;
  border: 1px #0a0b0e solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.5s;

  opacity: 0;
  display: none;
  z-index: 1;

  &__item {
    transition: 0.5s;
    padding: 15px;

    &:hover {
      transition: 0.5s;
      cursor: pointer;
      background: #8282822c;
    }
  }
}

.active {
  background: #8282822c;
}

.open {
  transition: 0.5s;
  display: block;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d1d1d19d;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

.multiselect {
  height: 20px;

  display: flex;
  align-items: center;

  li {
    color: red;
    border: 1px solid #4d4d4d;
  }
  z-index: 999;
}

.multiselectTag {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  height: 15px;
  list-style-type: none;
}

input[type='checkbox'] {
  cursor: pointer;
}
