.nativeSelect {
  border: none;
  cursor: pointer;
  display: none;
  color: white;
  background: #2a2f3b;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0;

  &__nativeOption {
    border: 1px #0a0b0e solid;
  }
}

// @media (max-width: 576px) {
//   .nativeSelect {
//     display: block;
//     min-width: 235px;
//     height: 50px;

//     border: none;
//     border-radius: 10px;
//   }

//   select[multiple='multiple'] {
//     color: black;
//     background-color: white;
//     border-radius: 0;
//   }
// }
