.selectWhite {
  background: rgb(248, 248, 248);
}

.selectWhite,
.listWhite,
.inputWhite,
.pathBlack,
.selectWhite {
  color: black;
}

.caretWhite {
  border-top: 6px solid black;
}

.listWhite {
  background-color: white;
}

.inputWhite {
  border-bottom: 1px solid black !important;
  color: black !important;
}
