.selectWhite {
  color: black !important;
  background: rgb(248, 248, 248) !important;
}

.caretWhite {
  border-top: 6px solid black !important;
}

.listWhite {
  color: black !important;
  background-color: white !important;
}

.pathWhite {
  color: white !important;
}

.pathBlack {
  color: black !important;
}
