.selectWhite {
  background: rgb(248, 248, 248) !important;
}

.selectWhite,
.listWhite,
.inputWhite,
.pathBlack,
.selectWhite {
  color: black !important;
}

.caretWhite {
  border-top: 6px solid black !important;
}

.listWhite {
  background-color: white !important;
}

.inputWhite {
  border-bottom: 1px solid black !important;
}

.pathWhite {
  color: white !important;
}

.pathBlack {
  color: black !important;
}
